%tr
  %td.number
    %span.boldspan
      = home
  %td.number
    = draw
  %td.number
    = away
  %td
    %span.boldspan
      = home_team
    v
    = away_team
  %td.number
    %span.boldspan
      = date_time
