%td.number
  %span.boldspan
    = rating
%td.number
  = games
%td.number
  %span.boldspan
    = points
%td.number
  = goal_difference
%td.number
  %span.boldspan
    = for_goals
%td.number
  = against_goals
%td
  %span.boldspan
    = team
